$defaultBackground: lightblue;

@mixin centerDiv {
  margin: auto;
  text-align: center;
}

@mixin AuthDiv {
  @include centerDiv();
  background: #74b9ff;
  width: 55vw;
  height: auto;
  padding-top: 2vh;
  padding-bottom: 1vh;
  border-radius: 5px;

  position: fixed;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);

  #loginHover {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

body,
html {
  background: $defaultBackground;
}

.registerForm {
  @include AuthDiv();
}

.loginForm {
  @include AuthDiv();
  width: 40vw;
}

@media only screen and (min-width: "320px") and (max-width: "1024px") {
  .registerForm,
  .loginForm {
    width: 80vw;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 70vw;
  }
}
