$defaultBackGround: #3498db;
$defaultTextColor: #eaf0f1;

@mixin centerDiv {
  margin: auto;
  text-align: center;
}

.newContent {
  background: $defaultBackGround;
  height: auto;
  width: 70%;
  @include centerDiv();
  border-radius: 6px;
  color: $defaultTextColor;
  img {
    width: 25vw;
    height: 20vh;
  }
  a {
    color: black;
    text-decoration: underline;
  }
}

#news {
  @include centerDiv();
}

.userInfo {
  background: #2475b0;
  width: 90%;
  @include centerDiv();
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 7px;
}

#spinner {
  top: 50%;
  left: 50%;
  position: absolute;
  background: white;
}
.userInfo {
  color: whitesmoke;
}

nav {
  border-radius: 60px;
  position: fixed;
}

@media only screen and (min-width: "320px") and (max-width: "1024px") {
  .userInfo {
    width: 100%;
  }
}
